
/** Test file for CSS - only overwrites the evaluation file and overwrites style.css if necessary **/
.header-text {
    color: #002B53 !important;
    font-size: 3rem !important;
    font-weight: 700;
    font-family: 'Oswald', Verdana, Arial, Helvetica, sans-serif !important;
    letter-spacing: normal !important;
}
.sub-header-text {
    color: #4e73df !important;
    font-size: 1.5rem !important;
    font-family: 'Nunito', Verdana, Arial, Helvetica, sans-serif !important;
}

h1, h2, h3 {
    font-family: 'Oswald', Verdana, Arial, Helvetica, sans-serif !important;
}

#overall-system-text {
    margin-top: 16px;
}

#menu {
    background-color: #002B53;
}

h4, h5, h6 {
    font-family: 'Nunito', Verdana, Arial, Helvetica, sans-serif !important;
}

p {
    font-family: 'Nunito', Verdana, Arial, Helvetica, sans-serif !important;
}