/** THIS CSS FILE IS INTENDED TO OVERWRITE CERTAIN CHANGES **/
#claynce-header-text {
    color: white !important;
}

/** Shared navigation **/

/** Shared Banner **/
#banner {
    background: url(../../img/banner/claynce-banner.png) repeat scroll center center !important;
}


/** Home Page **/
#home-banner-div {
    background: url(../../img/banner/claynce-banner-2.png) no-repeat scroll center center !important;
}

/** System Page **/
.sample-text-area {
    padding: 60px 0 45px 0 !important;
}
.area-heading { /* For header */
    margin-bottom: 0px !important;
}
.area-padding-top {
    padding-top: 16px;
}
.area-padding-bottom {
    padding-bottom: 32px;
}

#concept-div {
    margin-bottom: 45px;
}
#design-div {
    margin-top: 45px;
}

/** How It Works Page **/

/** Evaluation Page **/
#evaluation-section {
    margin: 24px auto;
}

/** Budget Page **/


/** Team Members Page **/
#team-members-and-roles-table {
    margin: 30px 0 45px 0;
}


#header-title {
    font-size: 48px !important;
}
#subheader-title {
    font-size: 36px !important;
}
#communication-and-meetings-div {
    margin: 15px auto;
}
#div {
    margin-top: 30px;
}
